<i class="right floated inverted red circular remove icon list-btn"></i>
<i class="right floated inverted green circular check icon list-btn"></i>
<i class="right floated inverted teal circular edit icon list-btn" data-toggle="modal" data-target="#myModal_<%=cid%>"></i>
<div class="content" data-toggle="modal" data-target="#orderMessage_<%=cid%>">
    <div class="header"><%= title %></div>
</div>
<!-- Custom Message Modal -->
<div class="modal fade" id="myModal_<%=cid%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Messages</h4>
            </div>
            <div class="modal-body">
                <div class="ui error message hide">
                    <p>Title or Message not must be empty.</p>
                </div>
                        <div class="ui fluid icon input">
                            <input class="new-title" type="text" placeholder="Right Title Here" autofocus="autofocus">
                        </div>
                <br />
                <div class="ui form">
                    <div class="field">
                        <label>User Text</label>
                        <textarea class="custom-msg new-msg" placeholder="Right Message Here"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-msg custom-msg-btn" data-dismiss="modal">Save Message</button>
            </div>
        </div>
    </div>
</div>

<!-- Order Message Modal -->
<div class="modal fade" id="orderMessage_<%=cid%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <%= message %>
            </div>
        </div>
    </div>
</div>

